In [138]:
from xps_reference import *
from pandas import read_csv
import os

In [139]:
def read_xy(filepath:str,ke_to_binding = True,norm = False):
    """Read the xy data from a .txt file.  The metadata found in lines 0-18 are ignored."""

    column_names = ["Energy","Intensity"]
    # metadata = read_csv(filepath, nrows = 18)
    xy = read_csv(filepath,names = column_names,skiprows = 22,delim_whitespace=True,dtype=float)
    
    if ke_to_binding:
        xy["Energy"] = 1486.7-xy["Energy"]
    if norm:
        xy["Intensity"] = (xy["Intensity"]-xy["Intensity"].min)/(xy["Intensity"].max-xy["Intensity"].min)
    return xy

def trim_xy_xps(folderpath,ke_to_binding=True,norm=False):
    txt_files = [f for f in os.listdir(folderpath) if f.endswith('.txt')]
    for file in txt_files:
        xy_data = read_xy(os.path.join(folderpath,file),ke_to_binding=ke_to_binding,norm = norm)
        copyname = "copy_"+file[:-4]+".csv"
        xy_data.to_csv(os.path.join(folderpath,copyname),index=False)

In [140]:
read_xy("/Users/apple/Sync/Research/Alloy 72/2024-6-17 A72 Native oxide XPS/20240617-Alloy 72 native oxide--2_1-Detector_Region.txt")

       Energy   Intensity
0     1000.02  15281.4073
1      999.82  15359.0800
2      999.62  15432.4877
3      999.42  15407.4240
4      999.22  15392.4273
...       ...         ...
5021    -4.18      2.3783
5022    -4.38      0.3550
5023    -4.58      1.8770
5024    -4.78      2.5340
5025    -4.98      1.9533

[5026 rows x 2 columns]

In [141]:
trim_xy_xps("/Users/apple/Sync/Research/Alloy 72/2024-6-17 A72 Native oxide XPS")